.navbar{
    height: 90px;
    width: 100%;
    font-family: 'poppins';
    font-size: 15px;
    font-weight: bold;
    background: linear-gradient(69.61deg, #F9F4F0 1.06%, #AEC3CE 55.77%);
}
.navbar li {
    list-style: none;
}
.navbar ul {
    display: flex;
    justify-content: space-between;
    padding: 30px 70px 30px 10px;
    margin-top: 0px;
}
.navbar li:nth-child(1){
    flex-grow: 0.5;
    flex-basis: 50px;
    margin-bottom: -10px;
}
 .navbar li img{
    padding-left: 30px;
    height: 35px;
    width: 140px;
 }